<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/integralParmalat.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="title">Leite UHT Integral Parmalat Garrafa 1 Litro</h6>
              <p class="card-text">R$ 4,99</p>
              <a href="/add-to-cart/<%= this._id %>" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/LeiteDesnatadoPira.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="title">Leite Desnatado Piracanjuba 1L</h6>
              <p class="card-text">R$ 4,59</p>
              <a href="/add-to-cart/<%= this._id %>" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100 align-items-center">
              <img src="/images/Leiteemp칩.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">NINHO Levinho Semi Desnatado Forti+ Lata 350g</h6>
                <p class="card-text">R$ 21,90.</p>
                <a href="/add-to-cart/<%= this._id %>" class="btn ">Comprar</a>
      
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/LeitemP칩Molico.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="title">Leite em P칩 MOLICO Desnatado 280g</h6>
              <p class="card-text">R$ 17,99</p>
              <a href="/add-to-cart/<%= this._id %>" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="/images/LeiteNinho.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Leite NINHO Integral 1L</h6>
              <p class="card-text">R$ 6,50</p>
              <a href="/add-to-cart/<%= this._id %>" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 align-items-center">
            <img src="/images/LeitePiracanjuba.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Leite UHT Integral Piracanjuba Caixa com tampa 1L</h6>
              <p class="card-text">R$ 4,50.</p>
              <a href="/add-to-cart/<%= this._id %>" class="btn ">Comprar</a>
    
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 align-items-center ">
            <img src="/images/CompostoLacteo.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Composto L치cteo NESLAC COMFOR 800g</h6>
              <p class="card-text">R$ 63,99</p>
              <a href="/add-to-cart/<%= this._id %>" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    